*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}

input{
    flex-grow: 1;
    margin: 10px;
    background-color: #e3e3e3;
    direction: rtl;
    border: none;
    font-size: 26px;
}

input:focus{
    outline: none;
}

.container{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 75%;
    min-width: 360px;
    max-width: 380px;
    /* background-color: aqua; */
    border: 1px solid black;
}

@media (max-width: 600px) {
    .container {
      width: 60%;
      height: 75%;
    }
  }

.display{
    margin: 10px;
    /* background-color: rgb(205, 68, 68); */
    height: 100px;
    width: auto;
    display: flex;
}

.buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: auto; */
    margin: 10px;
    height: 100%;
    /* background-color: rgb(238, 213, 180); */
    /* padding: 10px; */
    row-gap: 5px;
    column-gap: 10px;
}

.buttons{
    width: 20%;
    height: 15%;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 22px;
    background-color: #e3e3e3;
}

.buttons:hover{
    background-color: darkcyan;
}

.operations{
    color: green;
    font-weight: bold;
    font-size: 24px;
}

.delete{
    color: red;
    font-weight: 600;
}

.equal{
    background-color: rgb(35, 217, 41);
}